<ion-view title="イベント" hide-nav-bar="true" id="page12" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <div class="row">
                <div class="col">
                    <img src="img/icon.jpg" alt="ロゴ" width="80" height="80">
                </div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col">
                    <a ui-sref="page25" id="page1-button10" class=" button button-stable  button-block ">➕</a>
                </div>
            </div>
        </div>
        <form id="page12-form29" class="list ">
            <label class="item item-input" name="検索">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="キーワード">
            </label>
        </form>
        <form id="page12-form30" class="list ">
            <label class="item item-select " id="page12-select13" name="並び替え">
                <span class="input-label">並び替え</span>
                <select>
                    <option>新着</option>
                    <option>いい評価順</option>
                </select>
            </label>
        </form>
        <div>
            <div class="list" ui-sref="page24">
                <li class="row">
                    <div class="col col-20">
                        <div class="row">
                            1
                            <img src="img/up.jpg" alt="アップ" width="40" height="40">

                        </div>
                        <div class="row">
                            2
                            <img src="img/down.jpg" alt="ダウン" width="40" height="40">
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <font color="#0000ff">学内の教室はどうやって予約するのですか？</font>
                        </div>
                        <div class="row">
                            カテゴリー：研究
                            <br>2016/04/29
                            <br>回答数：2
                        </div>
                    </div>
                </li>
            </div>
        </div>
    </ion-content>
</ion-view>