<ion-view title="アカウント作成完了" hide-nav-bar="true" id="page15" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <div class="">
            <img src="img/K5q9vEZ8Q4WExCaptZhU_icon_long.png" width="200" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <form id="page15-form10" class="list ">
            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <a id="page15-button5" class=" button button-positive  button-block " ng-click="onClickedFinishButton()">登録完了</a>
        </form>
    </ion-content>
</ion-view>
